<div class="row">
    <div class="col-md-6 offset-md-2 animate__animated animate__fadeIn animate__fast" *ngIf="result">
        <div class="card d-flex justify-content-between align-items-center">
            <div class="card-body">

                <form (ngSubmit)="actualizar()" [formGroup]="formulario">
                    <div class="form-group">
                        <img *ngIf="!imgTemp" [src]="imagen | imagen: 'vendedores'" class="card-img-top" />
                        <img *ngIf="imgTemp" [src]="imgTemp | imagen: 'vendedores'" class="card-img-top" />
                    </div>
                    <!-- ================================================FORMULARIO REACTIVO===================================================================== -->
                    <div class="form-group">
                        <input class="form-control" [ngClass]="{'is-valid': nombre.valid,'is-invalid': nombre.errors && telefono.dirty}" autofocus type="text" formControlName="nombre" />
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                            <div *ngIf="nombre.errors.required">
                                El nombre es requerido
                            </div>
                            <div *ngIf="nombre.errors.minlength">
                                La longitud minima del nombre es de 3 carcateres
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" formControlName="email" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" [ngClass]="{'is-valid': telefono.valid,'is-invalid': telefono.errors && telefono.dirty}" type="number" placeholder="Telefono para contactar" formControlName="telefono" />
                        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                            <div *ngIf="telefono.errors.required">
                                El telefono es requerido y deben ser numeros
                            </div>
                            <div *ngIf="telefono.errors.minlength">
                                Digite un numero de celular valido
                            </div>
                            <div *ngIf="telefono.errors.maxlength">
                                Digite un numero de celular valido
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" [ngClass]="{'is-valid': ciudad.valid, 'is-invalid': ciudad.errors && ciudad.dirty}" type="text" placeholder="Ciudad" formControlName="ciudad" />

                        <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="alert alert-danger">
                            <div *ngIf="ciudad.errors.required">
                                El campo es requerido
                            </div>
                            <div *ngIf="ciudad.errors.minlength">
                                La longitud minima del campo es de 3 carcateres
                            </div>
                            <div *ngIf="ciudad.errors.maxlength">
                                La longitud maxima del campo es de 15 carcateres
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input [disabled]="bImg" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" />
                    </div>
                    <div class="form-group">
                        <button *ngIf="result.img" (click)="bImg = !bImg" type="button" class="btn btn-outline-warning btn-block">
                        <i class="fa fa-save"></i>
                        Actualizar imagen tambien
                        </button>
                    </div>
                    <!-- ==================================================FIN FORMULARIO REACTIVO======================================================================================================= -->
                    <div class="card-footer bg-transparent border-success text-center">
                        {{ fechaSubs | date }}
                    </div>

                    <button [disabled]="formulario.invalid" type="submit" class="btn btn-success btn-block">
                        <i class="fa fa-save"></i>
                        Actualizar
                    </button>

                    <button [routerLink]="['/anuncios', 'nav']" type="button" class="btn btn-success btn-block">
                        Ir a los anuncios
                        <i class="fas fa-arrow-right"></i>
                    </button>
                    <hr>

                </form>
            </div>
        </div>
    </div>
</div>