.img-chica {
    height: 50px;
    width: 50px;
}
#chat-mensajes {
    height: 600px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 40px;
    overflow-y: scroll;
}
.inputEnviar {
    margin-top: 20px;
}
.mb-10 {
    margin: 20px 0;
}