.img-chica {
    height: 50px;
    width: 50px;
}

ng-scrollbar.scroll-event {
    --scrollbar-size: 8px;
    --scrollbar-thumb-color: #38d39f;
    --scrollbar-hover-size: 12px;
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --scrollbar-border-radius: 10px;
    height: 800px;
    max-height: 800px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.05);
}