/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.font-med {
    font-size: 30px;
}

.font-med2 {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.file-over {
    border: dotted 3px dodgerblue;
}

.drop-zone {
    border: dotted 3px lightgray;
    opacity: 0.5;
    color: #666;
    text-align: center;
}

.w-20 {
    width: 30px;
}

.text-green {
    color: green;
}

table {
    table-layout: fixed;
    width: 100%;
}

.wpeque {
    width: 60px;
    word-wrap: break-word;
}


/* th,
td {
    width: 50px;
    word-wrap: break-word;
} */

.responsive {
    width: 100%;
    height: auto;
}

.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
}