<app-no-data *ngIf="anuncios.length == 0"></app-no-data>

<div class="row p-4">
    <div class="col-md-4 p-2" *ngFor="let anuncio of anuncios">
        <div class="card text-center">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                {{ anuncio.tituloAnuncio }}

            </div>
            <img *ngIf="tipo != 'misAnuncios'" [src]="anuncio.img | imagen: 'anuncios'" loading="lazy" class="card-img-top pointer" [routerLink]="['/detalles', anuncio._id]" />
            <img *ngIf="tipo == 'misAnuncios'" [src]="anuncio.img | imagen: 'anuncios'" loading="lazy" class="card-img-top pointer" [routerLink]="['/anuncio', anuncio._id]" />
            <div class="card-body">
                <h5 class="card-title">{{ anuncio.tituloAnuncio }}</h5>
                <p class="card-text">{{ anuncio.descripcion }}</p>
                <p class="card-text">Precio: {{ anuncio.precioUni | currency }}</p>

                <a *ngIf="tipo == 'anuncios'" [routerLink]="['/detalles', anuncio._id]" class="btn btn-primary btn-block">
                    Ver Detalles...
                </a>
            </div>
            <button *ngIf="tipo == 'misAnuncios'" class="btn btn-success" [routerLink]="['/anuncio', anuncio._id]">
                <i class="fa fa-edit"></i>
                Editar
            </button>
            <button *ngIf="tipo == 'misAnuncios'" class="btn btn-danger mt-2" (click)="borrarAnuncio(anuncio._id)">
                <i class="fa fa-trash"></i>
                Borrar
            </button>

            <div class="card-footer bg-transparent border-success">
                {{ anuncio.fechaAnuncio | date }}
            </div>
        </div>
    </div>
</div>