<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <h3>Seleccione Las imagenes</h3>
            <div appContol [ngClass]="{'file-over': estaSobreDropZone}" (archivoSobre)="archivoSobreDropZone($event)" [archivos]="archivos" (change)="fileChangeEvent($event)" class="drop-zone well">
                <h4>Suelta las imagenes aquí</h4>
                <img src="/assets/img/drop-images.png" alt="">
            </div>
            <h5> O selecciona tus archivos</h5>
            <div class="input-group mb-3">

                <div class="custom-file" (change)="handleFileSelect($event)">
                    <input type="file" name="files" class="custom-file-input" multiple>
                    <label class="custom-file-label">Choose file</label>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="margin-button: 40px;">
            <h3>Carga de Archivos </h3>

            <button *ngIf="source != 'add'" type="button" class="btn btn-success mr-2" (click)="cargarImagenes()" [disabled]="!permiteCargar">Acutalizar Anuncio</button>
            <button *ngIf="source == 'add'" type="button" class="btn btn-success mr-2" (click)="cargarImagenes()" [disabled]="archivos.length == 0 || !permiteCargar">Guardar Anuncio</button>
            <button type="button" class="btn btn-danger" (click)="limpiarArchivos()" [disabled]="">Limpiar archivos</button>
            <table class="table" [hidden]="archivos.length == 0">
                <thead class=" thead-inverse ">
                    <tr>

                        <th>Nombre</th>
                        <th>Tamaño</th>
                        <th>Progreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let archivo of archivos">

                        <td [ngClass]="{'text-green': archivo.estaSubiendo}">
                            <strong>{{archivo.name}}</strong>
                        </td>

                        <td>
                            {{archivo.size/1024/1024| number:'.2'}}MB
                        </td>

                        <!-- <td>
                            <i *ngIf="!archivo.completo && !archivo.error" [ngClass]="{'fa-spin' : archivo.cargando}" class="fa fa-spinner fa-lg text-warning" aria-hidden="true"></i>
                            <i [ngClass]="{'fa fa-check fa-lg text-success' : archivo.completo}" aria-hidden="true"></i>
                            <i [ngClass]="{'fa fa-exclamation-circle fa-lg text-danger' : archivo.error}" aria-hidden="true"></i>
                        </td> -->

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>