<div class="row p-5">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                Formulario del aununcio
            </div>
            <div class="card-body ">
                <form ngNativeValidate #f="ngForm">
                    <div class="form-group">
                        <input class="form-control" autofocus [(ngModel)]="tituloAnuncio" type="text" name="tituloAnuncio" placeholder="Titulo del anuncio" required />
                    </div>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="precioUni" type="numbercy" name="precioUni" placeholder="Precio del anuncio" required />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" [(ngModel)]="descripcion" name="descripcion" placeholder="Descripcion del anuncio" required rows="2">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="ciudad" name="ciudad" placeholder="Ciudad" required />
                    </div>
                    <div class="form-group">
                        <input disabled class="form-control" type="text" [(ngModel)]="vendedor" name="vendedor" />
                    </div>
                    <div class="form-group">
                        <input disabled class="form-control" type="text" [(ngModel)]="email" name="email" />
                    </div>
                    <div class="form-group">
                        <input disabled class="form-control" type="text" [(ngModel)]="fecha" name="fecha" />
                    </div>

                    <div class="form-group">
                        <select [(ngModel)]="categoria" name="categoria" class="custom-select custom-select-lg mb-3" required>
                            <option *ngFor="let item of categorias" [value]="item._id">
                                {{ item.descripcion }}
                            </option>
                            </select>
                    </div>

                    <!-- *ngIf="source != 'add'" -->
                    <hr>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4" *ngIf="beditar">
        <div class="card-header text-center">
            Imagenes Actuales del anuncio
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let image of archivosEdit">
                    <td>
                        <img [src]="image.picture | imagen: 'anuncios'" class="img-peque">
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="borrarImage(image._id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="row">
    <div class="col">
        <div class="card card-body text-center">

            <app-prueba-listener [boton]="source" (cargarImages)="guardarAnuncio($event)" (permiteCarga)="permiteCarga($event)"></app-prueba-listener>

            <button [routerLink]="['/anuncios', 'nav']" type="button" class="btn btn-outline-danger btn-block">
                <i class="fa fa-back"></i>
                Cancelar
            </button>
        </div>
    </div>
</div>